
*{
    margin: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;

}
body{
    background-color: #6761df;
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.contact-container{
    width:90%;
    max-width: 1200px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}
.left-side img{
    width:500px;
    max-width:100%;
    mix-blend-mode: multiply;
}
.right-side{
    color: #fff;
}
.right-side h1{
    font-size: 60px;
    font-family:georgia,serif;
    font-style: italic;
    margin-bottom: 40px;

}
.info{
    margin-bottom: 35px;
}
.info h2{
    font-size:32px;
    margin-bottom:10px;
}
.info p{
    font-size:22px;
}
.social-icons{
    margin-top:10px;

}
.social-icons a{
    margin-right:20px;
    text-decoration:none;
    mix-blend-mode: multiply;

    
}
.instagram-icon{
    width:50px;
    height:50px;
    border-radius:200px;
}
.linkedin-icon{
    width:50px;
    height:50px;
    border-radius: 65px;
}
.facebook-icon{
    width:50px;
    height:50px;
    border-radius: 70px;
}
